@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

$primaryColor: #fd8f0a;
$secondaryColor: #588b8b;
$textColor: #464855;
$whiteColor: #ffffff;
$darkColor: #212226;
$bgColor: #f4f8fc;
$jobsBgColor: #f7f8fa;
$mainFont: "Poppins", sans-serif;
