@import "./variables";
@import "./mixin";

:root,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: $mainFont;
  color: $textColor;
  font-size: 1rem;
}

.desktop {
  display: none;
}

.faq {
  padding: 6rem 0 5rem;
  height: auto;
  background: #fafafa;

  &-heading {
    margin: 1.2rem 0 1.5rem;
  }

  &-text {
    margin: 0;
    font-size: 0.8rem;
  }

  &-sub-heading {
    color: $primaryColor;
    font-size: 1rem;
    font-weight: bold;

    &.with-hr {
      padding-bottom: 1rem;
      border-bottom: 2px solid #979797;
    }
  }

  &-accord,
  &-sidebar {
    margin-top: 2rem;
  }
}

.faq-sidebar-item {
  margin: 0.5rem 0;
  border-bottom: 1px solid #979797;
  padding: 1rem 0;
}

.faq-sidebar-link {
  font-weight: 300;
}

.faq-accord {
  .card {
    margin-bottom: 1rem;
    border-radius: 0;
    background: $jobsBgColor;
    border: 0;
    padding: auto 2rem;
  }

  .card-header {
    border: none;
    background: $jobsBgColor;
    border-bottom: 2px solid $primaryColor;
    width: 95%;
    margin: auto;
    padding: 0.5rem 0;

    h2 {
      font-family: Poppins;
      font-style: normal;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 2rem;
        svg {
          width: 14px;
        }

        &.open {
          transform: rotate(180deg);
          margin-top: 0.5rem;
        }
      }

      button {
        font-weight: 600;
        color: $textColor;
        padding: 0;
        text-align: left;
        text-decoration: none;
        margin-top: 0.2rem;

        &:hover {
          color: $primaryColor;
          text-decoration: none;
        }
      }
    }
  }

  .card-body {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

#footer {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .desktop {
    display: block;
  }

  .faq-sub-heading {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 991px) {
  .faq-accord {
    .card-header {
      button {
        font-size: 1rem;
      }
    }
    .card-body {
      font-size: 1rem;
      padding: 1.4rem;
    }
  }
}
