@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: #464855;
  font-size: 1rem;
}

a {
  color: #464855;
}

a:hover {
  color: #fd8f0a;
}

ul {
  padding: 0;
  list-style: none;
}

.desktop {
  display: none;
}

#about-hero {
  margin-top: 4.5rem;
  background: #f4f8fc;
  height: auto;
}

.about-hero-content {
  padding-top: 3rem;
}

.about-hero-heading {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.about-hero-text {
  font-size: 0.9rem;
  width: 88%;
  line-height: 28px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  margin: 3rem 0;
}

.about-desc {
  text-align: center;
}

.about-heading {
  color: #588b8b;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-text {
  font-size: 0.9rem;
  line-height: 26px;
}

.md-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.md-info .md-title {
  color: #588b8b;
  font-size: 1.45rem;
  width: 50%;
  line-height: 29px;
  font-weight: 600;
}

.md-info .md-img {
  width: 150px;
}

.md-desc {
  margin-top: 1.5rem;
}

.md-desc .md-quote {
  color: rgba(70, 72, 85, 0.5);
}

.md-desc .read-more-link {
  color: #fd8f0a;
  text-decoration: underline;
}

.md-desc .read-more-link:hover {
  color: #588b8b;
}

#team {
  margin: 4rem 0 3rem;
}

#team .team-heading {
  color: #588b8b;
  font-size: 1.2rem;
  font-weight: 600;
}

#team .team-text {
  font-size: 0.9rem;
  line-height: 26px;
}

.carousel-item {
  position: relative;
  height: 280px;
}

.carousel-item .member-profile {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 2rem;
  display: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: radial-gradient(closest-side, rgba(253, 143, 10, 0.5), rgba(253, 143, 10, 0.2), rgba(253, 143, 10, 0.56), rgba(253, 143, 10, 0.2));
}

.carousel-item .member-profile:hover {
  display: -ms-grid;
  display: grid;
}

.carousel-item .member-profile:hover .member-name,
.carousel-item .member-profile:hover .member-title {
  display: none;
}

.carousel-item .member-profile a {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
}

.carousel-item .member-profile a:hover {
  text-decoration: none;
}

.carousel-item .member-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.carousel-item .member-overlay:hover .member-name,
.carousel-item .member-overlay:hover .member-title {
  display: none;
}

.carousel-item .member-overlay:hover ~ .member-profile {
  display: -ms-grid;
  display: grid;
}

.carousel-item .member-overlay .member-name {
  font-size: 0.9rem;
  font-weight: normal;
}

.carousel-item .member-overlay .member-title {
  font-size: 0.7rem;
  font-weight: 500;
}

.carousel-control-prev-icon {
  background-image: url("../images/icons/carousel-right.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.carousel-control-next-icon {
  background-image: url("../images/icons/carousel-right.svg");
}

.company-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-section.co-set {
  margin-top: -2rem;
}

.company-section.co-set .co-desc {
  margin-left: 1rem;
  margin-top: 2.8rem;
}

.company-section .co-img {
  margin-right: 1rem;
  width: 28px;
}

.company-section .co-details {
  margin-top: 2.2rem;
}

.company-section .co-details .co-title {
  font-size: 12px;
  margin: 0;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}

.company-section .co-details .co-date {
  margin: 0;
  font-size: 18px;
}

.co-desc {
  font-size: 0.8rem;
}

#reach {
  margin: 2rem 0;
}

.reach-heading {
  color: #588b8b;
  font-size: 1.2rem;
}

.reach-text {
  font-size: 0.9rem;
  line-height: 36px;
}

.reach-text a {
  color: #0077ff;
}

#network-footer {
  width: 100%;
  margin-bottom: -10.5rem;
}

@media screen and (min-width: 768px) {
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .about-desc {
    background: #f4f8fc;
    text-align: left;
    padding: 1rem;
    padding-right: 0.5rem;
    height: 250px;
    width: 46%;
    position: absolute;
  }
  .about-desc .about-heading {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .about-desc .about-text {
    font-size: 0.8rem;
    line-height: 20px;
    margin-top: 0.5rem;
  }
  .about-img {
    width: 400px;
    margin-top: 0.8rem;
    position: relative;
  }
  .left .about-desc {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .left .about-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    right: 0;
    margin-left: auto;
  }
  .right .about-desc {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    right: 0;
  }
  .right .about-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    left: 0;
    margin-right: auto;
  }
  #director .md-title {
    color: #588b8b;
  }
  .team-text {
    width: 80%;
    margin: 1rem auto;
  }
  .member-profile {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding: 2rem;
    display: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    background: radial-gradient(closest-side, rgba(253, 143, 10, 0.5), rgba(253, 143, 10, 0.2), rgba(253, 143, 10, 0.56), rgba(253, 143, 10, 0.2));
  }
  .member-profile:hover {
    display: -ms-grid;
    display: grid;
  }
  .member-profile:hover .member-name,
  .member-profile:hover .member-title {
    display: none;
  }
  .member-profile a {
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .member-profile a:hover {
    text-decoration: none;
  }
  .member {
    position: relative;
    overflow: hidden;
  }
  .member-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1rem;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .member-overlay:hover .member-name,
  .member-overlay:hover .member-title {
    display: none;
  }
  .member-overlay:hover ~ .member-profile {
    display: -ms-grid;
    display: grid;
  }
  .member-overlay .member-name {
    font-size: 0.9rem;
    font-weight: normal;
  }
  .member-overlay .member-title {
    font-size: 0.7rem;
    font-weight: 500;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #company .col-md-4 {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 990px) {
  .about-hero-heading {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .about-hero-text {
    width: 70%;
    font-size: 1.2rem;
  }
  .about-desc {
    background: #f4f8fc;
    text-align: left;
    padding: 1.5rem 1rem 1.5rem 3rem;
    height: 300px;
    width: 50%;
    position: absolute;
  }
  .about-desc .about-heading {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .about-desc .about-text {
    font-size: 0.9rem;
    line-height: 26px;
    margin-top: 0.5rem;
  }
  .about-img {
    width: 53.5%;
    margin-top: 0.8rem;
    position: relative;
  }
  .md-img {
    width: 450px;
  }
  .md-title {
    font-size: 2rem;
    width: 70%;
  }
  .md-speech {
    font-size: 1.125rem;
  }
  .md-quote,
  .md-speech {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .about-hero-heading {
    font-size: 3rem;
    margin-bottom: 2.125rem;
  }
  .about-hero-text {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .about {
    margin-top: 7rem;
  }
  .about-desc {
    background: #f4f8fc;
    height: 400px;
    padding: 3rem 1rem 1.5rem 4rem;
  }
  .about-desc .about-heading {
    font-size: 2.25rem;
    margin-bottom: 0.5rem;
  }
  .about-desc .about-text {
    font-size: 1rem;
    line-height: 26px;
    width: 80%;
  }
}

@media screen and (min-width: 1440px) {
  .about-hero-text {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=about.css.map */